extends layout
block content
    div.text-center
        form(class="form-signin" method="POST" action="/register")
            #error
                if error
                    p.text-danger Error!!!
            
            - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
            h1(class=h1Classes) Create your account!
            
            if announcement 
                p #{announcement}
            label( for="inputEmail" class="sr-only") Email address
            input(type="email" name="username" id="inputEmail" class="form-control" placeholder="Email address" required autofocus)

            label(for="inputPassword" class="sr-only") Password
            input(type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required)

            - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
            button(class=buttonClass type="submit") Register
            - var pClasses=['mt-5', 'mb-3', 'text-muted'];
            p(class=pClasses) © 2019-2020 